#game-board-div {
  background-color: $corona-yellow;
  width: 92%;
  border-radius: 30px;
  padding: 20px 0px;
  flex-wrap: wrap;
  @include small-mobile-screen-down {
    width: 97%;
  }
}

.game-icon {
  width: #{"min(20vw, 100px)"};
}

.tile-divs {
  height: #{"min(21vw, 100px)"};
  margin: 0px 3px;
}
