#game-board-div {
  margin-top: 20px;
  width: 80%;
  flex-wrap: wrap;
  @include small-mobile-screen-down {
    width: 97%;
  }
}

#tongue-icon {
  transform: scale(3vw) !important;
  & path {
    // stroke: red;
    filter: drop-shadow(2px 1px 1px red);
  }
}
