#header-row {
  padding: 30px 0px;
  box-shadow: 1px 2px 10px $corona-orange;
  // border-radius: 10px;
  background-image: url("../Assets/Lr1pnoS0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header-col {
  font-size: 42px;
  color: $corona-orange;
  color: $corona-blue;
}

#header-col-small {
  font-size: 14px;
  color: $corona-blue;
}
