#header-row {
  padding: 15px 5px 0px 5px;
  box-shadow: 1px 2px 10px $corona-orange;
  // border-radius: 10px;
  background-color: $corona-orange;
}

#header-col {
  font-size: 42px;
  color: $corona-orange;
  color: $corona-blue;
  & > img {
    width: 250px;
  }
}

#dr-corona-trademark {
  width: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
}
